<!DOCtype html>
<html>
<head>
<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
<link href='https://fonts.googleapis.com/css?family=Rosario:400' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="../css/main.css">
<title>{{.Title}}</title>
</head>

<script type='text/javascript'>
 $(document).ready(function() {
   $('select[name=compiler]').change(function(){
     $('form').submit();
   });
});
</script>


<body>
<nav>
<ul>
  <li><a href="/">Home</a></li>
  <li><a class="active" href="creator">Pipeline Creator</a></li>
</ul>
</nav>

<div class="mainbody">
<h1>Create your Pipeline!</h1>
<div class="indent"><p>Enter all appropriate information</p></div>
</div>

<div class="formselect">
<form method="post" action="/execute">
<table>
  <tr>
    <td>Repository Name (Example: ol-service): </td>
    <td>
      <input type="text" name={{.ServiceName}} value="ol-" id="inputs">
    </td>
  </tr>
  <tr>
      <td class="select">Application Type: </td>         
      <td>
         <select id="inputs" name="compiler">        
              <option value="default">select</option>
              <option value="javaMvn">java-maven</option>
              <option value="javaGradle">java-gradle</option>
              <option value="vueNpm">vue-npm</option>
              <option value="angularNpm">angular-npm</option>
              <option value="golang">go</option>
         </select>
      </td>        
  </tr>
  {{with $1:=.BuildFields}}
     {{range $1}}
  <tr>
    <td>{{.Name}}: </td>
    <td><input type="text" name={{.Name}} value={{.Value}} id="inputs"></td>
  </tr>
     {{end}}
  {{end}}

  <tr>
    <td>E-mail address: </td>
    <td><input type="text" name={{.Email}} id="inputs"></td>
  </tr>
  <tr>
    <td></td>
    <td><input type="submit" value="Create" id="inputs"></td>
  </tr>
</table>
</form>
</div>

</body>
</html>
